# Python
venv/
__pycache__/
*.py[cod]

# Docker y Base de Datos
postgres_data/

# Sistema Operativo
.DS_Store

# --- Airflow e Infraestructura ---
logs/
airflow.db
airflow.cfg
webserver_config.py
postgres_data/
*.log

# --- Python y Sistema ---
venv/
__pycache__/
.DS_Store
